/* Default: Hidden on Desktop */
.bottom-nav {
    display: none;
}

/* Mobile: Fixed Bottom Bar */
@media (max-width: 768px) {
    .bottom-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin: 20px 50px;
        border-radius: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        padding: 10px 0;
        border-top: 1px solid #f0f0f0;
        /* z-index: 1000; */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    }

    .bottom-nav-btn {
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        color: #b0b0b0;
        cursor: pointer;
        padding: 5px;
        width: 60px;
    }

    .bottom-nav-btn span {
        font-size: 10px;
        font-weight: 500;
    }

    .bottom-nav-btn.active {
        color: #00bfa5;
    }
}