:root{
    --primary-color : #363636FF;
    --second-color: rgba(53, 197, 207, 0.77);
    --third-color: rgba(0, 200, 179, 0.69)
}
.headnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.greet {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 750;
    margin: 0;
    color: var(--primary-color);
}
.UserName {
    color: var(--second-color);
    margin-left: 10px;
}
.NotifBtn {
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 1000%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
