:root {
    --primary-color: #17d4b8;
    --primary-color-hover: #30b4bd;
    --secondary-color: #33587c;
    --divider-color: #bdbdbd;
    --divider-color-mobile: #888;
    --pak-bg: #ffffffe7;
    --shadow: rgba(0, 0, 0, 0.08);
    --shadow-mobile: rgba(0, 0, 0, 0.1);
}
img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    box-shadow: 0 3px 10px var(--shadow);
    margin-top: 20px;
    align-items: center;
}

.name {
    font-weight: 1000;
    margin: 0 0 5px 0;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    
    color: var(--secondary-color);
    /* font-style: italic; */
}

.fullname,
.email,
.password,
.logout,
.delete {
    width: 80%;
    max-width: 65vw;
}

.photomodif {
    position: absolute;
    top: 115px;
    right: 5px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
}

.photomodif:hover {
    background-color: var(--primary-color-hover);
}

.left {
    width: 80%;
    max-width: 65vw;
    text-align: left;
}

.personal {
    color: var(--primary-color);
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin: 26px 0 10px 0;
}

.personal::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: 70%;
    background-color: var(--divider-color);
    transform: translateY(-50%);
}

span {
    color: var(--primary-color);
    font-size: 20px;
}

.photo-container {
    position: relative;
    margin-bottom: 10px;
}

.pak {
    background-color: var(--pak-bg);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px;
    width: 60vw;
    max-width: 100%;
    /* box-shadow: 0 6px 14px var(--shadow); */
}

@media screen and (max-width: 768px) {
    .pak {
        width: 100vw;
        max-width: 100%;
        padding: 20px;
        margin: 0;
        margin-top: -5%;
        margin-bottom: -5%;
        /* box-shadow: 0 4px 10px var(--shadow-mobile); */
    }

    .pak img {
        width: 120px;
        height: 120px;
    }

    .name {
        font-size: 20px;
    }

    .personal {
        font-size: 14px;
    }

    span {
        font-size: 18px;
    }

    .personal::before {
        width: 55%;
        max-width: 100vw;
        background-color: var(--divider-color-mobile);
    }

    .fullname,
    .email,
    .password,
    .logout,
    .delete,
    .left {
        width: 100%;
        max-width: 100vw;
    }

    .photomodif {
        top: 100px;
    }
}
