:root {
    --primary-color: #17d4b8;
    --primary-color-hover: #30b4bd;
    --secondary-color: #0a0a0a;
    --divider-color: #bdbdbd;
    --divider-color-mobile: #888;
    --pak-bg: #ffffffe7;
    --shadow: rgba(0, 0, 0, 0.08);
    --shadow-mobile: rgba(0, 0, 0, 0.1);
}
.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #17d4b8;
    box-shadow: 0 3px 10px var(--shadow);
    margin-top: 20px;
    align-items: center;
}

.name {
    font-weight: 1000;
    margin: 0 0 5px 0;
    font-size: 28px;
    /* font-family: serif; */
    color: var(--secondary-color);
    /* font-style: italic; */
}

.fullname,
.email,
.password,
.logout,
.delete {
    width: 100%;
    max-width: 75vw;
}
.labeles{
    position: relative;
    color: #17d4b8;
    font-size: 16px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 75vW;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.labeles::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: 1px;
    width: 82%;
    background-color: var(--divider);
}

.photomodif {
    position: absolute;
    top: 90px;
    right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    transition: 0.2s;
}

.photomodif:hover {
    background-color: var(--primary-color-hover);
}

span {
    color: var(--primary-color);
    font-size: 16px;
}

.photo-container {
    position: relative;
    margin-bottom: 10px;
}

.pak {
    background-color: var(--pak-bg);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    /* box-shadow: 0 6px 14px var(--shadow); */
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 768px) {
    :root {
        --primary-color: #17d4b8;
        --primary-color-hover: #30b4bd;
        --secondary-color: #33587c;
        --divider-color: #bdbdbd;
        --divider-color-mobile: #888;
        --pak-bg: #ffffffe7;
        --shadow: rgba(0, 0, 0, 0.08);
        --shadow-mobile: rgba(0, 0, 0, 0.1);
    }

    .img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #17d4b8;
        box-shadow: 0 3px 10px var(--shadow);
        margin-top: 20px;
        align-items: center;
    }

    .name {
        font-weight: 1000;
        margin: 0 0 5px 0;
        font-size: 20px;
        /* font-family: serif; */
        color: var(--secondary-color);
        /* font-style: italic; */
    }

    .fullname,
    .email,
    .password,
    .logout,
    .delete {
        width: 100%;
        max-width: 100vw;
    }

    .photomodif {
        position: absolute;
        top: 90px;
        right: 5px;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
        transition: 0.2s;
    }

    .photomodif:hover {
        background-color: var(--primary-color-hover);
    }

   
    .labeles{
    position: relative;
    color: #17d4b8;
    font-size: 14px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100vW;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.labeles::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    height: 1px;
    width: 55%;
    background-color: var(--divider);
}


    span {
        color: var(--primary-color);
        font-size: 18px;
    }

    span:hover{
        color: var(--primary-color-hover);
    }

    .photo-container {
        position: relative;
        margin-bottom: 10px;
    }

    .pak {
        background-color: var(--pak-bg);
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        padding: 20px;
        margin: 0;
        margin-top: -5%;
        margin-bottom: -5%;
        padding-bottom: 90px;
        /* box-shadow: 0 4px 10px var(--shadow-mobile); */
    }

}